/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  font-family: lucida sans;
  height: 100%;
}

.sections {
  padding: 20px 0;
}
.section-header .section-title {
  font-size: 40px;
}
.section-header .line {
  width: 150px;
  background: #ddd;
  height: 2px;
  margin: auto;
}
.section-header .line span {
  display: block;
  width: 100px;
  height: 4px;
  background-color: #7cb62f;
  margin: auto;
  position: relative;
  bottom: 2px;
}
.overlay {
  position: absolute;
  /* height 100% width 100% */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.6);
}
